.dashboard-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.page-header {
  background-color: #ffffff;
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e7eb;
}

.page-header h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.page-content {
  max-width: 1200px;
  background-color: #f5f5f5;
  padding: 24px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.dashboard {
  padding-left: 10px;
}

.dashboard-head {
  margin-bottom: 20px;
}

.overview-values {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.dashboard-sub-cat {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.dashboard-sub-cat > * {
  flex-grow: 1;
  flex-basis: calc((100% - 40px) / 3); /* 3 items per row with 20px gap */
  min-width: calc((100% - 20px) / 2); /* 2 items per row when space is limited */
  max-width: 100%; /* Full width on very small screens */
  margin-bottom: 10px; /* Add vertical margin */
}

@media (max-width: 1200px) {
  .dashboard-sub-cat > * {
    flex-basis: calc((100% - 20px) / 2); /* 2 items per row */
  }
}

@media (max-width: 768px) {
  .dashboard-sub-cat > * {
    flex-basis: 100%; /* 1 item per row on small screens */
  }
}