.dashboard-head {
  display: flex;
  margin-top: 5px;
  margin-bottom: 20px;
  padding-right: 5%;
}

.dashboard-head h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-right: auto;
  align-self: center;
}

.overview-values {
  display: flex;
  gap: 50px; /* Space between the ValueCard components */
}

.dashboard {
  padding-left: 10px;
}

.dashboard-head {
  margin-bottom: 20px;
}

.overview-values {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.dashboard-sub-cat {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.dashboard-sub-cat > * {
  flex-grow: 1;
  flex-basis: calc((100% - 40px) / 3); /* 3 items per row with 20px gap */
  min-width: calc((100% - 20px) / 2); /* 2 items per row when space is limited */
  max-width: 100%; /* Full width on very small screens */
  margin-bottom: 10px; /* Add vertical margin */
}

@media (max-width: 1200px) {
  .dashboard-sub-cat > * {
    flex-basis: calc((100% - 20px) / 2); /* 2 items per row */
  }
}

@media (max-width: 768px) {
  .dashboard-sub-cat > * {
    flex-basis: 100%; /* 1 item per row on small screens */
  }
}