.crypto-stats {
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    justify-content: space-evenly;
  }
  
  .crypto-stat {
    margin-right: 15px;
    white-space: nowrap;
  }
  
  .crypto-value {
    font-weight: 600;
    color: #333;
  }
  
  .change {
    font-size: 12px;
    margin-left: 5px;
    font-weight: 500 !important; 
  }
  
  .change.positive {
    color: #22c55e;
  }
  
  .change.negative {
    color: #ef4444;
  }