/* CryptoCategoriesList.css */
.categories-container {
  max-width: 370px;
  min-width: 290px;
}

.categories-table {
  font-size: 14px;
}

.categories-table th {
  padding: 8px 12px;
  text-align: right;
  font-weight: 500;
  color: #666;
  border-bottom: 1px solid #eee;
  white-space: nowrap;
  font-size: 12px;
  letter-spacing: 0.5px;
  background: white;
}

.categories-table th:first-child {
  text-align: left;
}

.category-row {
  cursor: pointer;
  border-bottom: 1px solid #eee;
  height: 48px;
}

.category-row:last-child {
  border-bottom: none;
}

.category-row td {
  padding: 8px 12px;
  text-align: right;
  
}

.category-row td:first-child {
  text-align: left;
  font-weight: 500;
  color: #333;
}

.market-cap-cell,
.volume-cell {
  font-weight: 500;
  color: #333;
}

@media (hover: hover) {
  .category-row:hover {
    background-color: rgba(0, 0, 0, 0.02);
  }
}