.navbar-container {
  position: relative;
}

.navbar {
  width: 50vw;
  display: flex;
  justify-content: space-between;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 2px;
}

.nav-link {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  margin-right: 5px;
  color: black;
}

.delete-button {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: red;
}

.add-button {
  margin-left: 15px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.dropdown {
  z-index: 1000;
  position: absolute;
  right: 0;
  top: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dropdown-input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-link-button {
  color: rgb(33, 23, 130);
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}
