.dashboard-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.dashboard-head h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-right: auto;
  align-self: center;
}

.overview-edit {
  display: flex;
  border-radius: 8px;
  padding: 5px;
  align-items: center;
  gap: 50px;
}
.overview-edit button {
  height: 50px;
  width: 50px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 500;
  color: black;
}

.overview-values {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.dashboard-sub-cat {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.dashboard-sub-cat > * {
  flex-grow: 1;
  flex-basis: calc((100% - 40px) / 3); /* 3 items per row with 20px gap */
  min-width: calc(
    (100% - 20px) / 2
  ); /* 2 items per row when space is limited */
  max-width: 50%; /* Full width on very small screens */
  margin-bottom: 10px; /* Add vertical margin */
}

@media (max-width: 1200px) {
  .dashboard-sub-cat > * {
    flex-basis: calc((100% - 20px) / 2); /* 2 items per row */
  }
}

@media (max-width: 768px) {
  .dashboard-sub-cat > * {
    flex-basis: 100%; /* 1 item per row on small screens */
  }
}
